@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    min-width: 1440px;
    min-height: 800px;
    font-family: 'Rubik';
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 1440px;
    height: 800px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.search {
    width: 100%;
    height: 280px;
    background-image: url(./images/pattern-bg-desktop.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 32px;
    color: white;
    padding-top: 30px;
    box-sizing: border-box;
}

#form {
    display: flex;
    margin-top: 30px;
}

#ip-input {
    width: 500px;
    height: 60px;
    border: none;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding-left: 20px;
    box-sizing: border-box;
    font-style: inherit;
    font-size: 18px;
}

#ip-input:focus {
    outline: none;
}

#submit-btn {
    width: 60px;
    height: 60px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: none;
    background-color: black;
    padding: 0;
}

#submit-btn:hover {
    background-color: darkgray;
}

#map {
    width: 100%;
    height: 520px;
    z-index: -1;
}

.result {
    position: absolute;
    left: 165px;
    top: 200px;
    width: 1110px;
    height: 160px;
    background-color: white;
    border-radius: 15px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.result-box {
    display: flex;
    flex-direction: column;
    margin: 35px 0;
    padding: 0 30px;
    font-size: 25px;

    .result-title {
        font-size: 12px;
        color: darkgray;
        letter-spacing: 0.1em;
        margin-bottom: 10px;
        font-weight: 700;
    }
}

.result-box:not(:last-child) {
  border-right: 1px solid darkgray;
}

@media screen and (max-width:430px) {

body {
    min-width: 375px;
    min-height: 820px;
}

.container {
    width: 375px;
    height: 820px;
}

.search {
    height: 300px;
    background-image: url(./images/pattern-bg-mobile.png);
}

#ip-input {
    width: 270px;
    height: 55px;
}

#submit-btn {
    width: 55px;
    height: 55px;
}

.result {
    left: 25px;
    top: 165px;
    width: 325px;
    min-height: 295px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
}

.result-box {
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    margin-top: 15px;

    .result-title {
        margin-bottom: 5px;
    }
}

.result-box:last-child {
  margin-bottom: 15px;
}

.result-box:not(:last-child) {
  border-right: none;
}
}